/* Section 11: Dates & Times and Section 12: #86 Asynchronous JS*/
/*#84. Building a digital clock in JS - this styling not used since html11 covers all DAtes and Times tutorials */
/*body{
    background: #333;
  }
  .clock{
    font-size: 4em;
    text-align: center;
    margin: 200px auto;
    color: yellow;
    font-family: arial;
  }
  .clock span{
    padding: 20px;
    background: #444;
  }*/
  /* this styling not used since html11 covers all DAtes and Times tutorials */

  /* Section 12: #86 Async JS - wow eh? */
  /*#88 What are HTTP requests? */
  /*#89 Making an HTTP request using JSONPlaceholder. */
  /* #90 Response Status */