/* Section 11: Dates & Times and Section 12: #86 Asynchronous JS*/
/*#84. Building a digital clock in JS - this styling not used since html11 covers all DAtes and Times tutorials */
/*body{
    background: #333;
  }
  .clock{
    font-size: 4em;
    text-align: center;
    margin: 200px auto;
    color: yellow;
    font-family: arial;
  }
  .clock span{
    padding: 20px;
    background: #444;
  }*/
  /* this styling not used since html11 covers all DAtes and Times tutorials */

  /* Section 12: #86 Async JS - wow eh? */
  /*#88 What are HTTP requests? */
  /*#89 Making an HTTP request using JSONPlaceholder. */
  /* #90 Response Status */
  /* #91 Callback Functions */
  /* # 92 JSON data */
  /* # 93. Callback Hell */
  /* # 94. Promise Basics - no coding just look and listen */
  /* #95 Chaining Promises - no coding just look and listen */
  /* #96 The Fetch API - no coding just look and listen */
  /* #97 Async & Await - no coding just look and listen */
  /* #98 Throwing & Catching Errors - no coding just look and listen</p></div> */
  
  /* Section 13:#99 Project Preview & Setup Project - Weather App */
  /* #100 HTML & CSS Template - no coding just look and listen */
  /* #101 AccuWeather API - no coding just look and listen */